@import url('https://fonts.google.com/specimen/Love+Ya+Like+A+Sister?query=Love+Ya+Like+a+sister');

#nav-title{
    margin-left: 100px;
    font-family:cursive;
    font-size: 24px;
}

#nav-bar{
    font-family: cursive;
    text-align:left;
    background-color: #facc4d;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-size: 20px;
}
